body {
  margin: 0;
}
footer {
  height: auto;
  background-color: #333d47;
  color: white;
  display: flex;
  flex-direction: column;
}
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: white;
}
.container {
  background-color: #333d47;
  width: 66%;
  display: flex;
  flex-direction: column;
  height: 70px;
}
.copyright-text {
 color: white;
}
.padding-mid {
  padding-top: 50px;
}
.margin-clear {
  margin: 0px;
}
.logo-white-small {
  padding: 20px 10px 20px 10px;
  width: 100px;
  height: 100px;
}
.order {
  align-self: flex-end;
}
li {
  display: inline;
}
.hidden {
    display: none;
}
.container-big{
    padding-left: 30px;
    padding-right:20px;
    width: 87%;
    display: flex;
    align-self: center;
    flex-direction: column;
}
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 50px;
}
.logo-text {
  display: inline-flex;
  height: auto;
  width: 100%;
}
/*------------------------media------------------------------*/
@media (min-width: 768px) {
  .logo-text {
    height: auto;
    width: 50%;
  }
  .container-big{
    padding-top: 0px;
    flex-direction: row;
  }
  .order {
    align-self: flex-start;
  }
  footer {
    justify-content: center;
    flex-direction: row;
  }
  .container {
    background-color: #333d47;
    width: 35%;
  }
  .top-line {
    padding-top:10px;
  }
  .padding-mid {
    padding-top: 50px;
    width: 240px;
  }
  .logo-white-small {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    width: 100px;
    height: 100px;
    }
    ul {
        margin-top: 16px;
        margin-right: 0;
    }
}
@media (min-width: 1152px) {
  .logo-text {
    width: 60%
  }
  .container {
    background-color: #333d47;
    width: 100%;
  }
  .container-big{
    padding-left: 234px;
  }
  .copyright-text {
    color: white;
  }
  .top-line {
    padding-top:20px;
  }
  .inline{
    padding-top: 50px;
  }
  .padding-mid {
    padding-top: 0;
    width: auto;
  }
  .logo-white-small {
    width: auto;
    height: auto;
  }
  .hidden {
    display: block;
  }
}
/*----------clearfix----------------------------------------*/
 .clearfix::after {
     content: "";
     clear: both;
     display: table;
 }
