/* ----- global styles ----- */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

/* ----- header styles ----- */

header{
  background-color: #333d47;
}

#desk-header{
  display: none;
}

#mob-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

#mob-logo{
  width: 65px;
  height: 65px;
}

#burger {
  height: 37px;
  width: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#burger div{
  height: 4px;
  background-color: #ff5000;
}

@media (min-width: 600px){
  #mob-header{
    padding: 10px 50px;
  }
}

@media (min-width: 900px){
  header {
    padding: 0px 25px;
  }

  #mob-header{
    display: none;
  }

  #desk-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    padding: 0px;
    max-width: 1300px;
  }

  #desk-logo{
    width: 300px;
  }

  #desk-nav{
    display: flex;
    justify-content: space-between;
  }

  #desk-nav>li{
    list-style: none;
    color: white;
    letter-spacing: 0.2px;
    font-size: 17px;
    margin-left: 40px;
  }
}

@media (min-width: 1200px){
  #desk-nav{
    margin-left: 160px;
  }
}

@media (min-width: 1800px){
  #desk-nav{
    margin-left: 220px;
  }
}

/* ----- footer styles ----- */

footer {
  font-size: 12px;
  height: auto;
  background-color: #333d47;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active{
    text-decoration: none;
    color: white;
}

.container-outer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-inner {
  display: flex;
  flex-direction: column;
  min-height: 87px;
  width: 100%;
  padding-left: 10px;
}

.copyright-text {
 color: white;
 margin: 0;
 align-self: flex-start;
 padding-top: 37px;
}

.order {
  margin: auto 0 0;
  align-self: flex-end;
  padding-top: 10px;
}

footer li {
  display: inline;
  padding-left: 3px;
}

 footer ul {
   align-self: flex-end;
   padding-left: 0;
 }

.logo-white-small {
  width: 55px;
  height: 55px;
}

@media (min-width: 600px) {
  .order{
    margin: 0;
    padding: 0 0 27px;
    order: 1;
  }

  .copyright-text {
    order: 2;
    padding-top: 0px;
  }

  .logo-white-small {
    width: 65px;
    height: 65px;
  }

  footer{
    justify-content: center;
    padding: 15px 50px;
  }
}

@media (min-width: 900px) {
  footer {
    font-size: 14px;
    display: block;
    padding: 15px 25px;
  }

  .container-outer {
    margin: 0 auto;
    max-width: 1300px;
  }

  .container-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright-text {
    order: 0;
    align-self: center;
  }
  .order{
    order: 1;
    padding: 0;
    align-self: center;
  }
}
